:root {
  --primary-bg: #f4f4f4;
  --canvas-border: #333;
  --button-bg: #2196F3;
  --button-hover-bg: #1E88E5;
  --button-active-bg: #1565C0;
  --button-text: #ffffff;
  --selected-bg: #FF7043;
  --undo-redo-bg: #FFCA28;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--primary-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #ffffff;
  border: 2px solid var(--canvas-border);
  justify-content: space-between; 
  padding: 150px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  
}

canvas {
  border: 2px solid var(--canvas-border);
  background-color: #ffffff;
  margin-right: 20px; 
}

button-container {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  size: 100%;
}

button {
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px 0;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: var(--button-bg);
  color: var(--button-text);
  width: 120px;
}

button:hover {
  background-color: var(--button-hover-bg);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

button:active {
  background-color: var(--button-active-bg);
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.2);
}

.sticker {
  background-color: var(--undo-redo-bg);
}

#undoButton, #redoButton {
  background-color: var(--undo-redo-bg);
  color: #000;
}

#exportButton {
  background-color: #4CAF50;
}

.marker {
  background-color: var(--button-bg);
}

.selected {
  background-color: var(--selected-bg);
}

button#clearButton {
  background-color: #FF5252;
}

button#clearButton:hover {
  background-color: #FF1744;
}

button#clearButton:active {
  background-color: #D50000;
}

#colorPicker {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 60px;  
  height: 40px; 
  margin: 20px 0;
  position: relative; 
  z-index: 10; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px; /* Adjust the gap between elements as needed */
}

.color-picker {
  display: block;
  margin-bottom: 10px;
}

.slider-container {
  display: block;
  margin-top: 10px;
}

.slider {
  width: 200px; /* Adjust this value as needed */
}